 .tt_sm {
 	border-radius: 5px;
 	box-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
 	z-index: 1000000;
 	background-color: white;
 	padding: 7px;
 	opacity: 0.9;
 	font: 12px/1.5 Verdana, Arial, Helvetica, sans-serif;
 	color: black;
	width: 40em;
	margin-left: -20em;
	margin-top: -20em;
	position: absolute;		
 }

 .tt_name_sm {
 	float: left;
 	font-weight: bold
 }

 .xmark_sm {
 	float: right;
 	margin-left: 5px;
 	cursor: pointer;
 	line-height: 0px;
 }

 .tt_custom_sm {}

 .tt_mobile_sm {
 	margin-top: 5px;
 }

 .btn_simplemaps {
 	color: black;
 	text-decoration: none;
 	background: #ffffff;
 	display: inline-block;
 	padding: 5px 5px;
 	margin: 0;
 	width: 100%;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	line-height: 1.43;
 	text-align: center;
 	white-space: nowrap;
 	vertical-align: middle;
 	-ms-touch-action: manipulation;
 	touch-action: manipulation;
 	cursor: pointer;
 	-webkit-user-select: none;
 	-moz-user-select: none;
 	-ms-user-select: none;
 	user-select: none;
 	border: 1px solid;
 	border-radius: 4px;
 }

 .btn_simplemaps:hover {
 	text-decoration: underline;
 }

 .button {
 	border: none;
 	color: white;
 	padding: 16px 32px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
 	font-size: 16px;
 	margin: 4px 2px;
 	transition-duration: 0.4s;
 	cursor: pointer;
 	border-radius: 30%;
 	width: 20%;
 	box-shadow: 0 5px #666;
 	background-color: #8D52BC;
 }

 .button:active {
 	background-color: #3e8e41;
 	box-shadow: 0 5px #666;
 	transform: translateY(4px);
 }

 .button1:hover {
 	background-color: #5284BC;
 	color: black;
 }

 .button2:hover {
 	background-color: #5284BC;
 	color: white;
 }

 .button3:hover {
 	background-color: #5284BC;
 	color: black;
 }

 .button4:hover {
 	background-color: #5284BC;
 	color: white;
 }